body {
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lobster', cursive;
}

.navbar {
    box-shadow: 0 0 10px 5px black;
}

.nav-item.links {
    border-left: 1px solid grey;
}

.nav-item.logo {
    border-right: 1px solid grey;
}
a {
    font-size: 20px;
}

.newAnimHead {
    border-radius: 5px 5px 0 0
}

.newAnime {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 25px 1px black;
}

.orange {
    color: orange;
    transition: color 0.5s ease;
}

.red {
    color: darkred;
}

.spoiler-content {
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s;
}

.spoiler-content.visible {
    display: inline;
    width: auto;
    height: auto;
    opacity: 1;
}