body {
    font-family: 'Noto Sans', sans-serif;
}

h1, h2, h3, h4, h5, button.h {
    font-family: 'Lobster', cursive;
}

.navbar {
    box-shadow: 0 0 10px 5px black;
}

.nav-item.links {
    border-left: 1px solid grey;
}

.nav-item.logo {
    border-right: 1px solid grey;
}
a {
    font-size: 20px;
}

.newAnimHead {
    border-radius: 5px 5px 0 0
}

.newAnime {
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 25px 1px black;
}

/*
!!!!!!!!!!!!!!!!!!!!!!   Flash avec js suite à un ajout d'animé   !!!!!!!!!!!!!!!!!
 */

.alert {
    border-radius: 5px;
    box-shadow: 0 0 25px 1px black;
}

.goodFlash {
    opacity: 1;
    transition: 0.5s ease;
}
.badFlash {
    opacity: 0;
    transition: 0.5s ease;
}

.buttonSize {
    font-size: 30px;
}