body {
    font-family: sans-serif;
}

.newAnimHead {
    border-radius: 5px 5px 0 0
}

.newAnime {
    border-radius: 0 0 5px 5px;
}

.orange {
    color: orange;
    transition: color 1s ease;
}

.red {
    color: darkred;
}

.spoiler-content {
    display: inline-block;
    width: 0;
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.5s;
}

.spoiler-content.visible {
    display: inline;
    width: auto;
    height: auto;
    opacity: 1;
}