{% extends 'base.html.twig' %}

{% block title %}Manka-K Compte{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="text-center mt-3 mb-3">Liste des Administrateurs</h1>
        <table class="table table-hover table-striped text-center" id="dataTable">
            <thead>
            <tr>
                <th scope="col">Pseudo</th>
                <th scope="col">Mail</th>
                <th scope="col">actions</th>
            </tr>
            </thead>
            <tbody id="animTable">
            {% for admin in admins %}
                <tr>
                    <td class="text-justify align-middle text-primary pb-3" align="left">
                        <h3 class="text-center">{{ admin.username }}</h3>
                    </td>
                    <td class="align-middle">{{ admin.mail }}</td>
                    <td class="align-middle" align="center">
                        <button type="button" class="btn btn-block col-5 btn-primary" {% if app.user.id == admin.id %}onclick="window.location.href= '{{ path('my_admin_account')}}'" {% else %} onclick="window.location.href= '{{ path('account_admin', { 'id' : admin.id}) }}'" {% endif %}>Détails</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
